* {
    font-family: "courier";
    box-sizing: border-box;
}

body {
    background-image: url('./../images/cockney.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#outer-container {
    max-height: 20vh !important;
}

h1 {
    text-align: center;
    background-color: white;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    /* display: inline; */
}

#chat-container {
    max-width: 600px;
    margin: 11% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

#response-area {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 10px;
}

#user-input {
    width: 100%;
    margin-bottom: 10px;
}

#submit-btn {
    width: 100%;
}